/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__more-information {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header { 
    text-align: center;
  }

}

.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.section-task__row {
  display: flex;
}

.check-list {
  margin: 0;
  padding: 0px;
}

.check-list__item, 
.section-title {
  list-style: none;
}

.check-list__checkbox, 
.task{
  outline: none;
}

.btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.btn:hover {
  color: #3a3a3a;
}

/* Heading */
.section-title{
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.section-task__tatle-margin {
  display: block;
  margin: 0 0 20px;
}

.check-list__input, 
.section-task__add {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task:focus {
  color: #333;
}

/* New Task */
.section-task__add {
  width: 318px;
}

/* Task list */
.check-list__item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.check-list__item-align {
  vertical-align: middle;
}

.check-list__checkbox {
  margin: 0 10px;
}

.check-list__lable {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.check-list__input {
  width: 226px;
}

.check-list__delete-btn .remove-image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.check-list__delete-btn .remove-image:hover {
  transform: rotateZ(0);
}

/* Completed */
.check-list#completed-tasks .check-list__lable {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.check-list .check-list__input {
  display: none;
}

.check-list .check-list__item.edit-mode .check-list__input {
  display: inline-block;
  width: 224px;
}

.check-list .check-list__item.edit-mode .check-list__lable {
  display: none;
}